extends ../layout/index

block contenido

    .mt-8.mx-auto.max-w-md
        .bg-gray-700.py-5.px-4.drop-shadow-md.rounded-xl 
            form.space-y-3(method='POST')
                div
                    label.block.text-sm.text-gray-200.mb-2.font-bold(for="password") Tu clave 
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(placeholder='Crea tu clave 🙈' type='password' name='password')
                div
                    label.block.text-sm.text-gray-200.mb-2.font-bold(for="repetir_password") Repite tu clave
                    input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(placeholder='Que quede igualita 🙊' type='password' name='repetir_password')
                div
                    input(type='hidden' name='_csrf' value=csrfToken)
                input(class='w-full bg-lime-600 py-2 hover:bg-lime-700 rounded-xl text-white font-bold' type='submit' value='Cambiar clave')