extends ../layout/index

block contenido

        .mt-8.mx-auto.max-w-md
            .bg-gray-700.py-5.px-4.drop-shadow-md.rounded-xl
                if mensajes 
                    each mensaje in mensajes
                        p.bg-lime-600.text-white.text-sx.text-center.p-2.mb-1.font-bold.rounded-xl=mensaje.msg

                    div.flex.items-center.justify-center.pt-2
                        a(class='bg-lime-600 text-white text-sx text-center p-2 mb-1 font-bold rounded-xl', href='/auth/login') Volver al login

